<?xml version="1.0"?>
<dewd>
  <!--
    Simple example of using the ObjectRepository and a custom editor to edit
    properties on object using an ActiveRecord style pattern.
  -->
  <repository name="ActiveRecord Example" type="ObjectRepository">
    <primaryKey name="ID" />

    <view name="All" selectMethod="MyActiveRecord.GetAll,App_Code">
      <columns>Property1,Property2,DateProperty</columns>
    </view>
    <view name="Some" selectMethod="MyActiveRecord.GetAll,App_Code">
      <columns>Property1,Property2,DateProperty</columns>
      <parameter targetType="Int32">2</parameter>
    </view>

    <editor type="MyArEditor,App_Code">
      <field title="Property 1" sourceField="Property1" umbracoDataType="Textstring" />
      <field title="Property 2" sourceField="Property2" umbracoDataType="Textstring" />
      <field title="Date Property" sourceField="DateProperty" umbracoDataType="Date picker" />
    </editor>
  </repository>
</dewd>